{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-light" role="alert">
        <div class="justified-text" style="max-width: 100%; margin: 0 auto; padding: 0 20px; font-size: 1.2em; line-height: 1.6; text-align: justify; font-family: 'Arial', sans-serif;">
            <h1 class="text-center" style="color: #023e8a;"><strong>¿Quiénes somos?</strong></h1>
            <p>
                Somos una empresa que brinda servicios de Proveeduría bajo la modalidad de Outsourcing y de Orden de
                Compra, para permitir a sus clientes dedicar más tiempo a las actividades relacionadas con su core
                business, a través de la tercerización del proceso de adquisición, logrando eficiencias y optimizando
                costos y tiempos.
            </p>
            <p>
                Durante más de 54 años, hemos ofrecido soporte y acompañamiento a las empresas estatales prestando los
                servicios de Comercialización y Distribución de artículos pensando en la optimización de sus procesos en
                beneficio de las diferentes entidades de carácter Nacional.
            </p>
            <div class="text-center">
                <img src="{% static 'images/2.jpg' %}" class="img-fluid" alt="Imagen Representativa" style="height: auto;">
            </div>
            <hr>
            <h1 class="text-center" style="color: #023e8a;"><strong>Misión</strong></h1>
            <p>
                Somos una empresa comprometida con el desarrollo social y económico, dedicada a la comercialización de
                suministros nacionales o importados, de papelería, útiles de oficina, tecnología, aseo y cafetería,
                brindando a nuestros clientes la tranquilidad de encontrar en un solo lugar un equipo humano experto,
                que le brinda asesoría y el inventario ideal de todos los productos que requiere para abastecer su
                negocio, garantizando la ejecución de nuestras actividades mediante el cumplimiento de nuestra Política
                de Calidad y los requisitos legales vigentes.
            </p>
            <hr>
            <h1 class="text-center" style="color: #023e8a;"><strong>Visión</strong></h1>
            <p>
                Nuestra visión es continuar creciendo como una empresa reconocida en el mercado nacional e internacional
                mejorando día a día para llegar a ser una de las más importantes empresas del sector.
            </p>
            <hr>
            <h1 class="text-center" style="color: #023e8a;"><strong>Objetivo de la Organización</strong></h1>
            <p>
                Superar las expectativas de nuestros clientes, suministrando productos de excelente calidad, con un alto
                componente de valor agregado en servicio que brinde una completa solución a los requerimientos de cada
                cliente.
            </p>
            <hr>
            <h1 class="text-center" style="color: #023e8a;"><strong>Valor Agregado</strong></h1>
            <p>
                • Buscamos ser un “aliado estratégico”, para evitar sobrecostos y distracciones que no son el negocio
                objetivo de nuestros clientes.
                <br>
                • Extendemos la mano con servicios enmarcados en valores como confianza, excelencia, efectividad y el
                servicio posventa.
                <br>
                • Servicio de Proveeduría bajo la modalidad de Outsourcing, encaminado a perfeccionar y asegurar el
                proceso de compra de suministros.
                <br>
                • Trasladamos a nuestros clientes reducción de costos al generar economías de escala.
                <br>
                • Permanente atención de un Asesor Comercial.
                <br>
                • Entregas a nivel local y nacional en tiempos óptimos.
            </p>
        </div>
    </div>
</div>
{% endblock %}
