{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-light" role="alert">
        <div class="justified-text" style="max-width: 1100px; margin: 0 auto; padding: 0 20px;">
            <h1 class="text-center" style="color: #023e8a;"><strong>Operación</strong></h1>
            <div class="text-center">
                <img src='{% static "images/operacion.jpg"%}' style="height: 400px;" alt="...">
            </div>
        </div>
    </div>
</div>
{% endblock %}