{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <div class="text-center">
            <h1 class="mb-4" style="color: #023e8a;">
                <i class="fas fa-check-circle" style="color: green;"></i> ¡Compra realizada con éxito!
            </h1>
            <p style="font-size: 18px; color: #333;">Tu pago ha sido procesado correctamente. ¡Gracias por tu compra!</p>
            <hr>

           <!-- Botones con opciones claras -->
            <div class="text-center">
                <div class="row mt-4">
                    <div class="col-md-6 mb-3">
                        <a href="/product" class="btn btn-success btn-lg btn-block custom-btn">
                            <i class="fas fa-shopping-cart"></i> Seguir comprando
                        </a>
                    </div>
                    <div class="col-md-6 mb-3">
                        <a href="/" class="btn btn-primary btn-lg btn-block custom-btn">
                            <i class="fas fa-home"></i> Volver al inicio
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
